html {
    font-size: 10px;
}

body {
    font-family: $font-main;
    color: $color-main;
    line-height: 1.2;

    &.is-modal {
        overflow: hidden;
    }
}

.page__wrapper {
    overflow: hidden;
}

.container {
    max-width: 128rem;
    margin: 0 auto;

    @media screen and (max-width: $breakpoint-xl) {
        max-width: 113rem;
    }

    @media screen and (max-width: $breakpoint-md) {
        max-width: 73rem;
    }

    @media screen and (max-width: $breakpoint-sm) {
        max-width: 35rem;
    }
}