// fonts
$font-main: 'Poppins';
$font-second: 'Montserrat';
$font-title: 'Playfair Display';
// colors
$color-main: #424D55;
$color-dark: #282F34;
$color-title: #014762;
$color-accent: #0584D1;
$color-sale: #D63639;
// other
$anim-time: 300ms;
$breakpoint-xl: 1300px;
$breakpoint-md: 1150px;
$breakpoint-sm: 767px;
$breakpoint-xs: 390px;