.gallery {
    padding-bottom: 0;
    overflow: hidden;
    position: relative;
    width: 100vw;
}

.gallery__list {
    display: flex;
    align-items: stretch;
    animation: scroll-left 15s linear infinite;

    @media screen and (max-width: $breakpoint-md) {
        animation: scroll-left 12s linear infinite;
    }

    @media screen and (max-width: $breakpoint-sm) {
        animation: scroll-left 10s linear infinite;
    }
}

.gallery__item {
    flex: 0 0 auto;
    width: calc(100vw / 5);
    height: calc(100vw / 5);

    @media screen and (max-width: $breakpoint-md) {
        width: calc(100vw / 3);
        height: calc(100vw / 3);
    }

    @media screen and (max-width: $breakpoint-sm) {
        width: calc(100vw / 2);
        height: calc(100vw / 2);
    }
}

.gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}