.section__wrapper {
    padding-top: 10rem;
    padding-bottom: 16.5rem;

    background-image: url(../img/prepare/lines.png), linear-gradient(to bottom, #F5F5EB 57rem, #FFFFFF 57rem, #FFFFFF 100%);
    background-size: auto, auto;
    background-repeat: repeat-x, no-repeat;
    background-position: top 45rem left, top left;

    @media screen and (max-width: $breakpoint-md) {
        background-image: none;
        padding-top: 0;
        padding-bottom: 0;
    }
}

.prepare {
    @media screen and (max-width: $breakpoint-md) {
        padding-top: 8rem;
    }

    @media screen and (max-width: $breakpoint-sm) {
        padding-top: 4rem;
    }
}

.prepare .container {
    border-radius: 1.6rem;
    border: .3rem solid #BDA078;
    background-image: linear-gradient(180deg, #FDFBF7 0%, #FAFAFB 100%);
    box-shadow: 0 1.2rem 1rem 0 rgba(0, 0, 0, 0.04), 0px 6.65px 12px 0px rgba(0, 0, 0, 0.03);
    padding: 7.2rem;

    @media screen and (max-width: $breakpoint-md) {
        border: none;
        background-image: none;
        background-color: #FFFFFF;
        box-shadow: none;
        padding: 0;
        border-radius: 0;
        border-bottom: .2rem solid #D8DDE2;
        padding-bottom: 4rem;
    }
}

.prepare__header {
    padding-bottom: 5.2rem;
    margin-bottom: 5.2rem;
    border-bottom: .1rem solid #D8DDE2;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: $breakpoint-md) {
        flex-direction: column;
        justify-content: flex-start;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
    }
}

.prepare__title {
    font-family: $font-title;
    color: $color-title;
    font-size: 4.6rem;
    text-transform: uppercase;
    line-height: 1.1;
    max-width: 66.6rem;

    @media screen and (max-width: $breakpoint-md) {
        max-width: 100%;
        margin-bottom: 2rem;
        font-size: 4rem;
    }

    @media screen and (max-width: $breakpoint-sm) {
        font-size: 3.2rem;
    }
}

.prepare__subtitle {
    max-width: 36.5rem;
    padding-left: 5.2rem;
    border-left: .1rem solid #D8DDE2;

    font-family: $font-second;
    font-size: 2rem;
    font-weight: 600;
    color: $color-dark;
    line-height: 1.6;

    @media screen and (max-width: $breakpoint-md) {
        max-width: 100%;
        border-left: none;
        padding-left: 0;
    }
}

.prepare__list {
    display: flex;
    align-items: stretch;
    gap: 3.2rem;
    flex-wrap: wrap;

    @media screen and (max-width: $breakpoint-md) {
        column-gap: 2rem;
        row-gap: 4rem;
    }
}

.prepare__item {
    width: calc((100% - (3.2rem * 4)) / 5);
    display: flex;
    flex-direction: column;
    gap: 1.8rem;

    @media screen and (max-width: $breakpoint-md) {
        width: calc((100% - 2rem) / 2);

        &:last-of-type {
            width: 100%;
            align-items: center;
            text-align: center;
        }
    }
}

.prepare__name {
    font-family: $font-second;
    color: $color-dark;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.3;
}

.prepare__desc {
    font-family: $font-second;
    color: #6B747C;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
}