.reviews {
    padding-bottom: 17.3rem;

    @media screen and (max-width: $breakpoint-xl) {
        padding-bottom: 12rem;
    }

    @media screen and (max-width: $breakpoint-md) {
        padding-bottom: 8rem;
    }
}

.reviews .container {
    display: flex;
    align-items: flex-start;
    gap: 2rem;

    @media screen and (max-width: $breakpoint-md) {
        flex-direction: column;
        gap: 0;
    }
}

.reviews__content {
    max-width: 30.2rem;

    @media screen and (max-width: $breakpoint-md) {
        width: 100%;
        max-width: none;
    }
}

.reviews__title {
    width: 30.2rem;
    font-family: $font-title;
    color: $color-title;
    font-size: 4.2rem;
    line-height: 1;
    margin-bottom: 2rem;

    @media screen and (max-width: $breakpoint-md) {
        width: auto;
        font-size: 4rem;
    }


    @media screen and (max-width: $breakpoint-sm) {
        font-size: 4.2rem;
        margin-bottom: 1rem;
    }
}

.reviews__subtitle {
    font-family: $font-second;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 4rem;


    @media screen and (max-width: $breakpoint-md) {
        margin-bottom: 2rem;
    }
}

.reviews__buttons {
    display: flex;
    height: 4.2rem;
    margin-bottom: 9rem;

    @media screen and (max-width: $breakpoint-md) {
        justify-content: flex-end;
        margin-bottom: 2rem;
    }
}

.reviews__add {
    padding: 1.2rem 5rem;
    border: .2rem solid #014661;
    background-color: #014661;
    border-radius: 4rem;

    font-family: $font-second;
    font-size: 1.8rem;
    font-weight: 600;
    color: #FFFFFF;

    transition-duration: $anim-time;
    transition-property: color, background-color;

    &:hover {
        color: #000000;
        background-color: transparent;
    }

    @media screen and (max-width: $breakpoint-md) {
        display: none;
    }
}

.reviews__add_mob {
    display: none;


    @media screen and (max-width: $breakpoint-md) {
        display: block;
        margin: 7rem auto 0 auto;
    }
}

.reviews__list {
    display: flex;
    align-items: stretch;
    width: 100%;
}

.reviews__item {
    width: calc((100% - 1.7rem) / 2);
    padding: 5.2rem;
    background-color: #FFFFFF;
    border-radius: .8rem;
    border: .1rem solid rgba(0, 0, 0, 0.08);

    @media screen and (max-width: $breakpoint-md) {
        width: 100%;
    }

    @media screen and (max-width: $breakpoint-sm) {
        padding: 4rem;
    }
}

.reviews__name {
    font-family: $font-second;
    font-size: 2.2rem;
    font-weight: 600;
    color: $color-dark;
    line-height: 1.3;
    margin-bottom: .8rem;
}

.reviews__info {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin-bottom: 3.2rem;
}

.reviews__stars {
    display: flex;
    align-items: center;
    gap: .2rem;
}

.reviews__date {
    font-family: $font-second;
    font-size: 1.4rem;
    line-height: 1.4;
    color: #6B747C;
}

.reviews .reviews__text_wrapper {
    position: relative;
    max-height: 31.7rem;
    padding-bottom: 8.7rem;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 8.7rem;
        background-image: linear-gradient(0deg, #FFF 12.38%, rgba(255, 255, 255, 0.22) 86.68%);
    }
}

.reviews__text {
    font-family: $font-second;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9;
}