.simplebar-track {
    right: -2.7rem;
    left: auto;
    top: 0;
    border-radius: 10rem;
}

.simplebar-track.simplebar-vertical {
    background-color: #E9E9E9;
    width: 0.5rem;
}

.simplebar-scrollbar:before {
    background-color: #7BB9E8;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 1 !important;
}

.stars {
    .simplebar-track {
        right: -1rem;
        left: auto;
        top: 0;
        border-radius: 10rem;
    }
}