.stars {
    padding-top: 8.8rem;
    padding-bottom: 14.3rem;

    @media screen and (max-width: $breakpoint-xl) {
        padding-bottom: 10rem;
    }

    @media screen and (max-width: $breakpoint-md) {
        padding: 6rem 0;
    }
}

.stars__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;

    @media screen and (max-width: $breakpoint-md) {
        display: block;
        margin-bottom: 0;
    }
}

.stars__title {
    font-family: $font-title;
    color: $color-title;
    font-size: 4.2rem;
    line-height: 1;
    text-transform: uppercase;

    @media screen and (max-width: $breakpoint-md) {
        font-size: 4rem;
        max-width: 60rem;
        line-height: 1.2;
        margin-bottom: 3rem;
    }

    @media screen and (max-width: $breakpoint-sm) {
        font-size: 3.2rem;
        line-height: 1.4;
    }
}

.stars__buttons {
    position: relative;
    display: flex;
    height: 4.2rem;
    width: 8.4rem;

    @media screen and (max-width: $breakpoint-md) {
        width: 100%;
        justify-content: flex-end;
        margin-bottom: 3rem;
    }
}

.stars__list {
    display: flex;
    align-items: stretch;
}

.stars__item {
    width: calc((100% - 2.1rem) / 2);
    border: .1rem solid #9E8464;
    display: flex;
    align-items: flex-start;
    max-height: 48.8rem;
    overflow: hidden;

    @media screen and (max-width: $breakpoint-xl) {
        max-height: 42rem;
    }

    @media screen and (max-width: $breakpoint-sm) {
        flex-direction: column-reverse;
        max-height: none;
    }
}

.stars__image_wrapper {
    min-width: 30.3rem;
    height: 100%;

    @media screen and (max-width: $breakpoint-xl) {
        min-width: 25rem;
    }

    @media screen and (max-width: $breakpoint-md) {
        min-width: 30rem;
    }

    @media screen and (max-width: $breakpoint-sm) {
        min-width: none;
        width: 100%;
        height: auto;
    }
}

.stars__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.stars__content {
    width: 100%;
    padding: 1.4rem 2.5rem 4.7rem 2rem;
    display: flex;
    flex-direction: column;
}

.stars__name {
    font-family: $font-second;
    color: $color-dark;
    font-size: 2.2rem;
    line-height: 1.3;
    font-weight: 600;
    margin-bottom: .8rem;
}

.stars__info {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin-bottom: 2.6rem;
}

.stars__rate {
    display: flex;
    align-items: center;
    gap: .2rem;
}

.stars__date {
    font-family: $font-second;
    font-size: 1.4rem;
    line-height: 1.4;
    color: #6B747C;
}

.stars__text_wrapper {
    max-height: 35rem;
    max-width: 100%;

    @media screen and (max-width: $breakpoint-xl) {
        max-height: 28.3rem;
    }
}

.stars__text {
    font-family: $font-second;
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 500;
}

.stars__more {
    display: block;
    margin-top: 5rem;

    font-family: $font-second;
    color: #0584D1;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    text-decoration: underline;
}

.stars__pagination {
    display: none;

    @media screen and (max-width: $breakpoint-md) {
        display: flex;
        margin-top: 4rem;
    }
}