.team {
    padding-top: 13.2rem;
}

.team__uptitle {
    font-family: 'Gilroy';
    font-size: 2.8rem;
    line-height: 0.7;
    margin-bottom: 1rem;
}

.team__title {
    font-family: $font-title;
    color: $color-title;
    font-size: 4.2rem;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
}

.team__subtitle {
    font-family: $font-second;
    color: #000000;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 5.2rem;
}

.team__list {
    display: flex;
    align-items: stretch;
    gap: 3rem;
    flex-wrap: wrap;
    padding: 0 4rem;
}

.team__item {
    width: calc((100% - 6rem) / 3);
}

.team__image {
    width: 100%;
    margin-bottom: 1rem;
}

.team__name {
    font-family: $font-second;
    color: #202427;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.3;
    padding-bottom: 2.4rem;
    border-bottom: .1rem solid #C8CCD1;
    margin-bottom: 1.2rem;
}

.team__special {
    font-family: $font-second;
    font-size: 1.6rem;
    line-height: 1.1;
}